* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.flex {
    display: flex;
}

.navbar {
    width: 100%;
    background-color: rgba(243, 243, 243, 0.938);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(8px);
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header a {
    color: rgb(146, 146, 146);
    text-decoration: none;
    display: inline-block;
    transition: .2s ease;
}

header nav.menu a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

header nav.menu ul li {
    display: inline-block;
    padding: 0 40px;
}

header .button-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(89, 17, 148);
    color: rgb(229, 165, 238);
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s ease;
}

header .button-contact button:hover {
    box-shadow: 0 0 30px rgba(229, 165, 238, 1);
    transform: scale(1.1);
}

main .interface .txtop {
    color: black;
}

section.top {
    padding: 74px 4%;
}

section.top .flex {
    gap: 150px;
    align-items: center;
    justify-content: center;
}

section.top .interface {
    background-color: white;
    padding-top: 100px;
}

.top h1 {
    font-size: 50px;
}

.top p {
    font-size: 30px;
    margin: 40px 0;
    max-width: 600px
}

.top .imagetop img {
    position: relative;
    animation: anim 2s ease-in-out infinite alternate;
    width: 438px;
    height: 438px;
}

section.Projects img{
    width: 438px;
    height: 438px;
    border: 1px solid;
}

.top .imagetop {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

@keyframes anim {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}

.title {
    width: fit-content;
    font-size: 50px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

section.AboutMe{
    padding: 50px 4%;
}

section.Projects{
    box-shadow: 0 0 30px rgba(141, 63, 151, 0.308);
    padding: 50px 4%;
}

section.Projects .interface .flex {
    gap: 20px;
    padding: 0;
    overflow: visible;
}

section.Projects .interface .flex a {
    transition: .3s;
    margin: 20px 0;
    max-width: 450px;
}

section.Projects .interface .flex a:hover {
    transform: scale(1.05);
}

section.Projects .interface .viewbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

section.Projects .interface .viewbtn a {
    font-size: 25px;
    align-self: flex-end;
    text-decoration: none;
    color: gray;
    transition: .3s;
}

section.Projects .interface .viewbtn a:hover {
    color: black;
    transform: scale(1.1);
}

.click-icon {
    font-size: 30px;
    pointer-events: none;
    z-index: 9999;
    animation: pop-fall 1.2s ease-out forwards;
    position: fixed;
    transform: translate(0, 0) rotate(0deg);
}

@keyframes pop-fall {
    0% {
        transform: translate(0, 0) scale(1) rotate(0deg);
        opacity: 1;
    }

    30% {
        transform: translate(var(--offset-x), var(--offset-y)) scale(1.2) rotate(var(--rotate));
        opacity: 1;
    }

    100% {
        transform: translate(calc(var(--offset-x) * 1.5), calc(var(--offset-y) + 100px)) scale(0.5) rotate(calc(var(--rotate) * 2));
        opacity: 0;
    }
}

section.AboutMe {
    padding: 40px 4%;
}

.AboutMe .text {
    font-size: 22px;
}

.AboutMe .text h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.AboutMe .text p {
    text-align: justify;
    margin: 20px 0;
}

.button{
    display: flex;
}

.button button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(117, 43, 117);
    color: white;
    font-size: 30px;
    border: 0px;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px;
}

.iconimg {
    width: 80px;
    height: 60px;
    filter: invert(1);
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.AboutMe .text .button button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(229, 165, 238, 1);
}

.AboutMe .text h2 span {
    display: block;
}

section.AboutMe .flex {
    align-items: center;
    gap: 60px;
}

section.Contact {
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    padding: 20px 15px;
    border: 0px;
    background-color: rgba(190, 190, 190, 0.767);
    outline: 0px;
    font-size: 15px;
    border-radius: 15px;
}

form textarea{
    resize: none;
    height: 120px;
    max-height: 200px;
}

form .submit{
    margin-top: 15px;
    text-align: center;
}

form .submit input{
    width: 120px;
    height: 60px;
    font-weight: 700;
    background-color: rgb(89, 17, 148);
    color: rgb(229, 165, 238);
    transition: 0.3s;
    font-size: 20px;
    cursor: pointer;
}

form .submit input:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(229, 165, 238, 1);
}

footer{
    padding: 50px 4%;
    box-shadow: 0 0 30px rgba(229, 165, 238, 1);
}

footer .flex{
    justify-content: space-between;

}

footer .footer{
    padding: 20px 0;
}

.footer .button button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(229, 165, 238, 1);
}

.border{
    border-top: 2px solid;
    border-color: rgb(89, 17, 148);;
}

footer .footer p i{
    color: rgb(89, 17, 148);
    font-size: 30px;
}

footer .footer p a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}